* {
}

.ironman-image {
  max-width: 30%;
  max-height: 50%;
}
.hulk-image {
  max-width: 50%;
  max-height: 50%;
}
.spiderman-image {
  max-height: 40%;
  max-width: 40%;
}
.strange-image {
  max-height: 500px;
}
.orbit-wrapper {
  max-height: fit-content;
}

.orbit-container {
  display: flex;
  justify-content: center;
}

.orbit-caption {
  display: flex;
  justify-content: center;
}
.orbit-figure {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: black;
}

#player {
  display: flex;
}

#games,
#movie,
#comics,
#song ,
#cartoon {
  display: flex;
  justify-content: center;
  align-items: center;
}


#song ,
#cartoon { 
  background-color: white;
  color: black;

}

#games,
#movie,
#comics {
background-color: #F0131E;
  color: white;
}

#ironmanVideo,
#spidermanVideo{
  background-color: white;
  color: black;
}

#drVideo,
#hulkVideo {
  background-color: #F0131E;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
}