* {
}

.ironman-image {
  max-width: 25%;
  max-height: 25%;
}
.hulk-image {
  max-width: 45%;
  max-height: 45%;
}
.spiderman-image {
  max-height: 35%;
  max-width: 35%;
}
.strange-image {
  max-height: 30%;
  max-width: 30%;
}
.orbit-wrapper {
  background-image: url(https://clipartcraft.com/images/marvel-studios-logo-mcu-5.png);

  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.orbit-container {
  display: flex;
  justify-content: center;
}
.orbit-figure {
}

.orbit-caption {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  max-height: fit-content;
}
.orbit-figure {
  display: flex;
  justify-content: center;
}

.dropdown-pane {
  margin-bottom: 300px;
}

.orbit-previous {
  border: 50px;
}
